.tvp-header {
  background-color: whitesmoke;
  li {
    background-color: #6191fb;
    padding: 8px 16px;
    border-radius: 6px;
  }
}

ul {
  display: flex;
  margin: 0;
  li {
    list-style: none;
    margin: 8px;
  }
}
